@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500 800;
    src: url("/assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  }

  body {
    @apply font-manrope font-medium text-xs text-grey bg-darkblue;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-extrabold text-white;
  }

  img {
    @apply h-auto aspect-image;
  }
}
